@charset "UTF-8";
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first {
  border-right: 1px solid gainsboro;
  padding-right: 10px;
}

.second {
  padding-left: 10px;
}

.third {
  padding-left: 10px;
}

/* 박스에 마우스를 대보세요. */
.box {
  width: 30px;
  height: 30px;
  background-color: grey;
}

.box:hover {
  background-color: hotpink;
  width: 120px;
  -webkit-transition: all 1s 500ms steps(6);
  transition: all 1s 500ms steps(6);
  /* time 옵션을 2개 주면 뒤에 준 시간 뒤에 transition이 먹힘
    500ms 뒤에 1초에 걸쳐 6스텝으로 효과가 나타난다. */
}

/* 쉬운 탭 디자인 만들기 */
.title {
  padding: .2em .5em;
  margin-top: 0;
  border-left: 10px solid hotpink;
  background: lightblue;
}

/* 글자에 그라디언트 넣기 */
.text-gradient {
  margin-top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(blue), to(red));
  background: linear-gradient(blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 텍스트 에리어 리사이즈 none */
textarea {
  resize: none;
}

/* 화면 사이즈 넘어가는 텍스트를 알아서 줄바꿈 */
.wordWrap {
  word-wrap: break-word;
}

/* 문자열 첫글자만 스타일주기 + 첫번째 라인만 스타일 주기 */
.letter::first-letter {
  font-size: 20px;
  font-weight: bold;
  color: royalblue !important;
}

.letter::first-line {
  color: pink;
}

/* 글자를 넣지 않은 빈 div에만 따로 스타일을 줄 수 있어요. */
.emptyBox {
  background: saddlebrown;
  color: white;
  padding: 10px;
}

.emptyBox:empty {
  background: wheat;
}

/* firt-of-type 연습! content 밑에 p타입의 첫번째 아이에게 스타일주기*/
#content p:first-of-type {
  color: violet;
}

/* text-shadow 주기! */
.sd {
  text-shadow: 5px 5px yellowgreen;
}

/* list 스타일 포지션 + 마커 스타일 */
.bg {
  background: goldenrod;
}

.bg::marker {
  color: green;
}

.lsp {
  list-style-position: inside;
}

/* 문장 들여쓰기 */
.ti {
  text-indent: 10px;
}

/* 글자 뒤집기 */
.wm {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

/* zoom으로 요소 확대하기 */
.zoom {
  width: 50px;
  height: 50px;
  background: green;
  margin-bottom: 4px;
}

.z {
  zoom: 130%;
}

/* 애니메이션~ */
.ani {
  margin-top: 0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slide;
          animation-name: slide;
}

@-webkit-keyframes slide {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.changeColor {
  width: 50px;
  height: 50px;
  border: solid 1px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: changeCl;
          animation-name: changeCl;
}

@-webkit-keyframes changeCl {
  0% {
    background: gold;
  }
  50% {
    background: black;
  }
  100% {
    background: lightcoral;
  }
}

@keyframes changeCl {
  0% {
    background: gold;
  }
  50% {
    background: black;
  }
  100% {
    background: lightcoral;
  }
}

/* scss의 extend기능을 사용하여 스타일 주기 */
.box1, .box2, .box3 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 4px;
}

.box1 {
  background: blanchedalmond;
}

.box2 {
  background: cadetblue;
}

.box3 {
  background: chocolate;
}
/*# sourceMappingURL=style.css.map */